*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body, .text, .alerte{
    display: flex;
    flex-direction: column; /* pour que les éléments soit en colonne*/
    text-align: center; /* pour que les éléments soit centrer horizontalement */
}
body{
    height: 100%;
    background-image: url(steve-johnson-wpw8sHoBtSY-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}
body, .tete, .message, button, button>a, .alerte{
    font-size: larger;
    color: white;
}
nav>a, a{
    text-decoration: none;
    width: 100%;
    color:black;   
}
nav{
    margin: 0 auto 20px auto; /* met des marges nul part sauf 20pixels en bas*/
    width: 10%;
    backdrop-filter: blur(30px);
    /* background-color: rgb(9, 143, 143); */
}
.text{
    /* background: radial-gradient(circle,blue, rgb(108, 108, 248), white ) ; */
    
    color: white;
    backdrop-filter: blur(30px); /* pour rendre flou mon fond*/
    margin: 0 auto;
    padding: 10px;
}
button{
    background-color: unset;
    border: none;
}
.message{
    width: fit-content;
    margin : 8px auto 0 auto ;
}
.True{
    background-color: green;
    color:white;
}
 .False{
    background-color: tomato;
}
.envoyer{margin: 8px 0 0 0;}
.table{
    border-collapse: collapse;
}
.thd{
    padding : 3px;
}
.alerte{
    width: 25%;
    margin: 4px auto 0 auto;
    backdrop-filter: blur(30px); /* pour rendre flou mon fond*/
}