*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    background-image: url(legume.avif);
    background-size: cover;
    /* background-repeat: no-repeat; */
    display: flex;
    flex-direction: column; /* pour que les éléments soit en colonne*/
    text-align: center; /* pour que les éléments soit centrer horizontalement */
}